include README.md
include LICENSE
include requirements.txt
include Makefile
include pytest.ini
include INTERNAL_DISTRIBUTION.md
recursive-include Listener *.py
recursive-include Listener *.typed
recursive-include tests *.py
recursive-include docs *.md
exclude .coverage
exclude .gitattributes
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude htmlcov *
recursive-exclude .pytest_cache *
recursive-exclude .git *
recursive-exclude .github *
recursive-exclude .devcontainer *
recursive-exclude Docker * 